* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #f5f6f7;
  background-image: url(./images/Background/background-programacion.png);
  background-attachment: fixed;
  background-size: cover;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}
